.bx-template {
  .empty {
    font-style: italic;
    opacity: .7;
    align-self: center;
    margin: auto;
  }

  .document-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: .5em;

    @container page (min-width: 600px) {
      grid-template-columns: 1fr;
    }
    
    &__item {
      display: grid;
      grid-template-columns: var(--sidebar-item-height) 1fr;
      align-items: center;
      gap: .5em;
      padding: .25em;
      border: 1px solid var(--color-border-light-tertiary);
      border-radius: .5em;
      box-shadow: 0 1px 2px rgba(0, 0, 0, .5);
      background: url(/ui/parchment.jpg) repeat;
  
      &:has(input) {
        grid-template-columns: var(--sidebar-item-height) 1fr 3em;
      }

      .icon-wrapper {
        position: relative;
        line-height: 0;
        img {
          border-radius: calc(.5em / 2);
          overflow: hidden;
          border: 1px solid var(--color-border-light-tertiary);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, .5);
        }
      }
      .count {
        display: block;
        position: absolute;
        bottom: -.5em;
        right:  50%;
        transform: translateX(50%);
        padding: .1em .25em;

        border-radius: 2em;
        background: url(../../../../ui/denim075.png);

        color: var(--color-text-light-heading);
        text-align: center;
        line-height: 1em;
        font-weight: bold;
      }

      cursor: context-menu;
    }
  }
}

