/*
  READ VIEW
*/
.bx-template--view {
  container-type: inline-size;
  container-name: page;

  .document-list {
    &__item {
      cursor: grab;
      transition: 333ms opacity ease-in-out; 
      &:active {
        cursor: grabbing;
        opacity: .5;
      }
    }
  }

  & > article {
    &:not(:last-of-type) {
      margin-bottom: .5em;
    }

    &:has(main) {
      &:has(aside) {
        @container page (min-width: 600px) {
          display: grid;
          grid-template-columns: 2fr 1fr;
          gap: 2em;
        }
      }
    }
  }
}