/*
  SHARED
*/
.journal-page-editor--faction,
.journal-page-content--faction {
  .empty {
    font-style: italic;
    opacity: .7;
  }

  
  .faction-members {
    list-style-type: none;
    margin: 0;
    padding: 0;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: .5em; 

    .faction-member {
      display: grid;
      grid-template-columns: var(--sidebar-item-height) 1fr;
      align-items: center;
      gap: .5em;
    }

    img {
      border: 0;
    }

    &--others {
      .faction-member {
        grid-template-columns: var(--sidebar-item-height) 1fr 3em;
      }
    }

    @container page (min-width: 600px) {
      grid-template-columns: 1fr;
    }
  }
}

